<html lang="EN">
<head>
  <title><%= title %></title>
  <link rel='manifest' href='/manifest.json'>
  <link rel="icon" href="/images/raccoon-logo.svg" type="image/svg+xml" />
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
  >
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="theme-color" content="#444" />
  <link rel="stylesheet" href="/stylesheets/style.css?<%= ver %>">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="/collab" class="btn btn-primary  btn-lg active" role="button" aria-pressed="true">Collaborative form</a>
    </div>
  </div>
</div>

</body>
</html>
