label {display: block}

.window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
}
.window-top {
  flex: 1;
  background: white;
}
.window-bottom {
  flex: 15;
  background: black;
}
.log {
  font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;
  color: white;
}
.log-title {
  font-weight: bold;
  padding-left: 5px
}
.icon {
  margin: 0;
  width: 100px;
  display: flex;
  align-items: center;
}
.label-name {
  width: 50px;
  display: inline-block;
  font-weight: bold;
}
