-----BEGIN CERTIFICATE-----
MIICwzCCAaugAwIBAgIJANLM1Q0TEThpMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNV
BAMTCWxvY2FsaG9zdDAeFw0yMDA2MjExNTA1NTFaFw0zMDA2MTkxNTA1NTFaMBQx
EjAQBgNVBAMTCWxvY2FsaG9zdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
ggEBAKTO8ZSmFRlPAu4F5r3/W9NrQTR7bDuNYWsDR26l7c63gwmnt57LL9LCtSu2
KLfP7NLWets3fdhgiJv0FHnRyYqe40UyaSTcWnWOcI0Ypp77SJTs74vViYDAoNzE
W21JFDq0wG8piPlnR7HR7p86RhIRcVbidMbd4FOEkKghRi6xpeu4W36F0L5l/zXN
upjxecHVZmrbmOOBJW6FwTp1dDOETYEgUunkdnv6PfLZUZGoJjT/ekl0tdxYDhTw
YRIoIJZCP5WtjTq1hVDJHJqa6SLpZHZ5u3RMu/W8J5Qi/npZCVBkPZlS8eJnNDCO
Pw8pdX+1AtHk4ngot8r/XS9CtPsCAwEAAaMYMBYwFAYDVR0RBA0wC4IJbG9jYWxo
b3N0MA0GCSqGSIb3DQEBBQUAA4IBAQAENd6OzxjgG3pyMfPKSqv/kCiLSEcX0Ram
/gD82oitBuMb84o3jFIilCZsmhiTQ/FbRltxWNSIHwLjazuvHMI6qK36IcWvaK4i
JN0BMA6Z5lTa7Y1DYCG6Y5Ql1TdKt+Z+HW/DbOUbOXqDo5hbgFpl32pK/j2v5jD8
1yOyFaD5Ri4B2piVWCmswNvJb0mBgqQB5hC7/WLd0gC3Tp9gl9IkBF715c/iMJZU
097VTSBF+RikCWrwkrEogAe0qTNCJ1nuYNdcFYs/U9PpU3sKbzoWAmO+faNBJO6x
vh2pFf6AsbXlMeLJZpPFK4AkyaaWXJxNQWMQzJqELtnT+Sacxr72
-----END CERTIFICATE-----
